
#card{
    width: 30%;
    margin-left: 5rem;
    margin-top: 3rem;
    border-radius: 24px 24px 24px 18px;
    -webkit-border-radius: 24px 24px 24px 18px;
    -moz-border-radius: 24px 24px 24px 18px;
    border: 12px outset #5b5c61;
    
}

.tamañoSelector{
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.margen{
    margin: 2rem;
}

#addCart{
    width: 100%;
    font-size: 3rem;

}